{% extends 'main/base.html.twig' %}

{% block content %}

  <div class="container">
    <div class="row">
        <img src="src/images/wide-posters/{{ film.wideImgUrl }}" class="wide-poster" />
    </div>
    <div class="row">
      <div class="col-md-10">
        <span class="film-title">{{ film.title }}</span>
        <span class="film-period">В кино с {{ film.releaseDate|date('d M Y') }} до {{ film.endDate|date('d M Y') }}</span>
        <span class="film-director">{{ film.director.name }}</span>
        <span>{{ film.runningTime|date('H:i') }}</span>
        <p class="film-description">{{ film.description }}</p>
      </div>
      <div class="col-md-2">
        <span class="film-actors">
            {% for actor in film.actors %}
                {{ actor.name }} <br>
            {% endfor %}
        </span>
      </div>  
    </div>
    <div class="row col-md-10">
        <div class="col-md-2">
            ratings
        </div>
        <div class="col-md-10">
            <table class="table table-hover">
                <tbody>
                    {% for user in film.users %}
                        <tr>
                            <th scope="row">
                                <img src="src/images/users/{{user.userImageUrl}}" />
                            </th>
                            <td>{{ user.firstName }} {{ user.surname }}</td>
                            <td>{{ 4 }}</td>
                            <td>
                                <button type="button" class="btn btn-link">Пригласить!</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn">Хочу тоже!</button>
        </div>
    </div>
  </div>
  

{% endblock %}